distlib==0.3.7
docstring-to-markdown==0.13
et-xmlfile==1.1.0
filelock==3.13.1
IMAPClient==3.0.1
jedi==0.19.1
numpy==1.26.4
openpyxl==3.1.2
pandas==2.2.0
parso==0.8.3
platformdirs==4.0.0
pluggy==1.4.0
python-dateutil==2.8.2
python-lsp-jsonrpc==1.1.2
python-lsp-server==1.10.0
pytz==2024.1
six==1.16.0
tzdata==2024.1
ujson==5.8.0
virtualenv==20.25.0
